h1#heading microchat 
#signin
	form#signin_form(method='post', action='/join')
		| name:
		input#name.normal_input(type="text", name="name", autocomplete="off")
		br
		| room:
		input#room.normal_input(type="text", name="room", value="#{value}")
		br
		input#submit.submit_button(type="submit", value="Go!")